* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.covidImage{
  display: inline-block;
  width: 6rem;
  margin: -1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-image: url('../src/images/bg.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}
.main_title {
  color: #fff;
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 300;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .main_title {
    font-size: 2rem;
    font-weight: 300;
  }
  .image {
    width: 100%;
  }
}
